menu "Example Configuration"

    config WIFI_SSID
        string "WiFi SSID"
        default "Yosoytuwifi"

    config WIFI_PASS
        string "WiFi Password"
        default "4dejulio"

    config MQTT_URI
        string "MQTT Broker URI"
        default "mqtt://broker.hivemq.com"

    config MQTT_TOPIC
        string "MQTT Topic"
        default "/kaluga/test"

endmenu

