menu "Example Configuration"

    config BROKER_URL
        string "Broker URL"
        default "mqtt://mqtt.eclipseprojects.io"
        help
            URL del broker MQTT que se usará como valor inicial en mqtt_uri.
            Este valor se puede sobreescribir luego con el comando !broker por consola.

endmenu

